#menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid #0066ff;
  border-radius: 20px 5px;
  width: 1480px;
  text-align: center;
  background-color: #33adff;
}
#menu li {
  display: inline;
}
#menu a {
  color: #fff;
  padding: 10px 90px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
#menu a:hover {
  border-radius: 20px 5px;
  background-color: #0066ff;
}
